/*Google font URL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Work+Sans:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

:root {
    --heading: rgb(0 10 45);
    --white: #fff;
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --icons-bg: rgba(144, 172, 209, 0.2);
    --bg: rgb(249 249 255);
    --bg-secondary: #e0e2eb;
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --gradient-support: -webkit-linear-gradient(0deg,
            rgb(132 144 255) 0%,
            rgb(98 189 252) 100%);
    --shadow: 0px 0px 10px 0px rgb(132 144 255/20%);
    --shadowsupport: 0px 10px 10px 0px #8490ff;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    /* 1rem=10px    6ream=60px */
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;

}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*================================================================================================================= 
                                        Header section style 
 ================================================================================================================= */

.header {
    padding: 0 4.8rem;
    height: 9rem;
    background-color: var(--white);
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header .logo {
    height: 5rem;
    border-radius: 2rem;
}

.navbar-lists {
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
    color: var(--helper);
}

.mobile-navbar-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mobile-nav-icon[name="close"] {
    display: none;
}

/*==================================================================================================== 
                                        Reusable code for section
=================================================================================================================  */

.section {
    padding: 9rem 0;

}

.grid {
    display: grid;
    gap: 9rem;

}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    /* background-color: green; */
}

.btn {
    background: var(--gradient-support);
    padding: 1rem 2.5rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
    transition: all o.3s ease;
    -webkit-transition: all 0.3 ease 0s;
    -moz-transition: all 0.3 ease 0s;
    -o-transition: all 0.3 ease 0s;
}

.btn:hover,
btn:active {
    box-shadow: var(--shadowsupport);

}

.common-heading {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}

.common-heading::before {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--helper);
    border-radius: 50%;
}

.common-heading::after {
    content: "";
    position: absolute;
    top: 118%;
    left: 1.5rem;
    min-width: 20rem;
    height: 0.3rem;
    background: var(--helper);
}


/*================================================================================================================= 
                                        hero section start 
 ================================================================================================================= */



.section-hero {
    background-color: var(--bg);
}

.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7.5rem;


}

.hero-top-data {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}

.hero-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

.hero-para {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.hero-img {
    /* max-width: 40%;
    box-shadow: 2rem 2rem 0 0 var(--helper); */
    width: 50%;
    box-shadow: 1rem 1rem 0 0 var(--helper);

}

.section-hero-image {

    display: flex;
    justify-content: center;
    align-items: center;

}


/*===============================================================================================           
                                    Bio section start 
================================================================================================ */

.bio-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.bio-img img {
    margin-top: 6rem;
    width: 60%;
    box-shadow: -1rem -1rem 0 0 var(--helper);
    display: inline-block;
}

.bio-data-stats {
    display: flex;
    padding: 6.4rem 0;
    flex-direction: column;
    gap: 3rem;
}

.bio-stats h3 {
    margin-bottom: 1rem;
}

.bio-progress-bar {
    width: 90%;
    height: 0.8rem;
    background-color: var(--para-tint);
    border-radius: 10rem;
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: inherit;
    background: var(--gradient-support);
    border-radius: 10rem;
}

.bio-progress-2::before {
    width: 90%;
}

.bio-progress-3::before {
    width: 80%;
}

.bio-progress-4::before {
    width: 60%;
}

.bio-progress-5::before {
    width: 70%;
}

/* .bio-progress-bar span {
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;

} */

/* .bio-progress-bar span {
    left: 81%;
}

.bio-progress-2 span {
    left: 86%;
}

.bio-progress-3 span {
    left: 76%;
}

.bio-progress-4 span {
    left: 80%;
}

.bio-progress-5 span {
    left: 66%;
} */


/* to create a caret */

/* .bio-progress-bar span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
    top: -1.6rem;
} */


/* 
    ==============================================
                Portfolio section start
    ============================================== */

.section-portfolio {
    background: var(--bg-secondary);
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    transition: all 0.7s linear;
}

.section-portfolio p {
    max-width: 60rem;
    color: var(--heading);
}

.portfolio-images {
    gap: 3.2rem;
    margin-top: 6.4rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}

.portfolio-images img {
    width: 100%;
    height: 100%;
    border-radius: 7px;  
    position: relative;
    overflow: hidden;
}


.project-card {
    border: 3px solid #8490ff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-heading {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.card-btn-container {
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}



/*

.img-overlay {
    position: relative;
    overflow: hidden;

}

.img-overlay {
    border: 3px solid orange;
    padding: 10px;
}

.img-overlay:hover>.overlay {
    transform: translate(0);
    opacity: 0.8;
    cursor: pointer;
}

.img-overlay .common-heading {
    margin: 0;
    color: var(--white);
    text-decoration: none;
}

*/




/* <!-- 
==============================================
            Contact US section start
============================================== --> */

.section-contact-main {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
}

.section-contact-main .grid {
    gap: 3.2rem;
}

.section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.section-contact-main input,
.section-contact-main textarea {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "work sans";
    width: 100%;
}

.section-contact-main input[type="submit"] {
    max-width: 30%;
    border: none;
}


/*  
=============================================
            footer section start
============================================== */

.section-footer {
    background: var(--heading);
    transition: all 0.7s linear;
}

.section-footer h3 {
    color: var(--white);
    margin-bottom: 4rem;
}

.f-about p {
    color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address div {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
    font-size: 1.8rem;
    color: #adadad;
    text-transform: capitalize;
}

.f-add {
    font-size: 1.8rem;
    color: #adadad;
    text-transform: capitalize;
    margin-bottom: 1.8rem;
    font-style: normal;
}

.f-add a {
    font-size: 1.7rem;
    color: #adadad;
    text-transform: capitalize;
    font-style: normal;
}

ion-icon {
    margin-right: 1rem;
}

.f-social-icons {
    margin: 5rem 0;
    text-align: center;
    color: #adadad;
}

.f-social-icons .icons {
    width: 4rem;
    height: 4rem;
    background: var(--icons-bg);
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--white);
    animation: water-wave 3s linear infinite;
}


/* water wave animation  */

@keyframes water-wave {
    0% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }

    50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}



.f-credits p {
    text-align: center;
    color: #adadad;
}

.section-footer a:hover,
.section-footer a:active {
    color: var(--white);
}


/* scroll to top icon style */

.scrollTop-style {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1;
}

.scroll-top {
    width: 4rem;
    height: 4rem;
    background: var(--helper);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    color: var(--heading);
    animation: water-wave 3s linear infinite;

}

/*============================================================== 
                responsive nav bar media query
============================================================== */

/* below 1520px */

@media (max-width:95em) {
    .container {
        max-width: 130rem;
        padding: 0 3.2rem;
    }

    .navbar-lists {
        gap: 2.4rem;
    }
}

/* below 1200 */

@media (max-width:75em) {
    html {
        font-size: 56.25%;
    }

    .container {
        max-width: 110rem;
    }

    .grid {
        gap: 4.8rem;
    }

}

/* below 980px */

@media (max-width:980px) {
    html {
        font-size: 50%;
    }

    .header {
        position: relative;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 9999;
        border: 3px solid var(--black);
        color: #212529;
    }

    .mobile-nav-icon {
        width: 4rem;
        height: 4rem;
        color: #212529;
        padding-left: 8px;

    }

    .navbar {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--gradient);
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 9999;
    }

    .navbar-lists {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-lists .navbar-link:link,
    .navbar .navbar-lists .navbar-link:visited {
        color: #212529;
        font-size: 3.2rem;
    }

    .active .navbar {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu"] {
        display: none;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close"] {
        display: block;
    }

    .f-add a {
        font-size: 1.3rem;
    }


    /* footer section */
    .section-footer .grid-four-column {
        grid-template-columns: 1fr 1fr;
    }

}


/* below 790px media query */

@media (max-width:49em) {

    .container {
        max-width: 71rem;
    }

    .section-hero .grid-two-column {
        grid-template-columns: 1fr;
    }

    .section-hero-data {
        align-items: center;
    }

    .hero-para {
        text-align: center;
        margin-top: 2rem;
    }

    .section-hero img {
        width: 90%;
    }



    /* bio data */

    .section-biodata .grid-two-column {
        grid-template-columns: 1fr;
    }

    .section-biodata .bio-img {
        grid-row: 2;
        margin-top: 3.2rem;
    }

    .section-biodata .bio-img img {
        width: 90%;
    }


    /* portfolio section */

    .section-portfolio .grid-three-column {
        grid-template-columns: 1fr;
    }

    .img-overlay img {
        width: 100%;
    }


    .img-overlay {
        /* margin-left: 12rem; */
        display: flex;
        justify-content: center;
    }

    .section-biodata .bio-img {
        text-align: center;
    }

    /* portfolio section */

    .img-overlay .overlay {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-overlay .common-heading {
        font-size: 8rem;
    }

    .common-heading::before {
        width: 1.5rem;
        height: 1.5rem;
    }

    .common-heading::after {
        min-width: 7rem;
        height: 0.3rem;
    }

}


/* Below 560px */

@media(max-width:35em) {

    .header {
        padding: 0 3.2rem;
    }

    .section-hero-data {
        margin-top: 0.2rem;
    }

    .contact-container {
        padding: 3.2rem;
    }

    .contact-container .grid-two-column {
        grid-template-columns: 1fr;
    }

    .section-contact-main input[type="submit"] {
        max-width: 71%;
    }



    /* footer section */
    .section-footer .f-about,
    .section-footer .f-address {
        grid-column: 1/-1;
    }

    .f-add a {
        font-size: 1.9rem;
    }

}

/* below 440px */

@media (max-width:27em) {
    .hero-heading {
        text-align: center;
    }

    .section {
        padding: 4rem 0;
    }

    /* portfolio section */

    .img-overlay .overlay {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-overlay .common-heading {
        font-size: 4rem;
    }

    .common-heading::before {
        width: 1.5rem;
        height: 1.5rem;
    }

    .common-heading::after {
        min-width: 14rem;
        height: 0.3rem;
    }

    .section-contact-main input[type="submit"] {
        max-width: 71%;
    }

}

/* below 335px */

@media (max-width:20em) {

    .hero-heading {
        text-align: center;
    }

    .section {
        padding: 4rem 0;
    }

    /* portfolio section */

    .img-overlay .overlay {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-overlay .common-heading {
        font-size: 2rem;
    }

    .common-heading::before {
        width: 1.5rem;
        height: 1.5rem;
    }

    .common-heading::after {
        min-width: 7rem;
        height: 0.3rem;
    }

    .section-contact-main input[type="submit"] {
        max-width: 90%;
    }

    /* new added */
    .bio-progress-bar span {
        left: 80%;
    }

    .bio-progress-2 span {
        left: 85%;
    }

    .bio-progress-3 span {
        left: 75%;
    }

    .bio-progress-4 span {
        left: 79%;
    }

    .bio-progress-5 span {
        left: 65%;
    }

}